.container {
  width: 800px;
  margin: 0 auto;
}

.container h1 {
  color: rgb(95, 95, 243);
}

button {
  line-height: 30px;
  border: solid 1px rgb(95, 95, 243);
  margin-right: 16px;
  border-radius: 8px;
  padding: 0 24px;
  color: rgb(95, 95, 243);
  cursor: pointer;
}

.active {
  background: rgb(95, 95, 243);
  color: white;
  font-weight: 700;
}
